[flake8]
require-plugins =
    dlint
    pep8-naming
    flake8-pie
    flake8-builtins
    flake8-simplify
    flake8-docstrings
    flake8-import-order
    flake8-comprehensions

max-line-length = 120
import-order-style = pep8
ignore =
    W503   ; Line break before binary operator (awaiting fix)
    D1     ; Missing docstring
    D400   ; First line should end with a period (comments)
    PIE786 ; Use precise exception handlers
